.inline-block(@valign: top) {
  display: inline-block;
  vertical-align: @valign;
}

.line-height(@px) {
  height: @px;
  line-height: @px;
}
/*fonts
===============================*/
.bebas{
	font-family: 'BebasRegular', sans-serif;
}
.bebas-bold{
	font-family: 'BebasNeueBold';
}
.bender{
	font-family: 'BenderRegular', sans-serif;
}
.roboto{
	font-family: 'RobotoRegular', sans-serif;
}
.robotocondensed{
	font-family: 'robotocondensedregular', sans-serif;
}

.red{
  color: @textRed;
}
.white{
  color: @textWhite;
}
.button{
	.inline-block;
	padding: 0 25px;
	height: 50px;
	line-height: 50px;
	.bebas;
	font-size: 20px;
	color: @textWhite;
  background: @bgRed;
  border-bottom: 4px solid @bgRedDark;
  &:hover{
  	text-decoration: none;
  	background: lighten(@bgRed, 5%);
  }
  &:active{
  	background: darken(@bgRed, 5%);
  }
}
.section{
  padding-top: 65px;
  &__title{
    position: relative;
    margin-bottom: 70px;
    .bebas;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 10px;
      width: 50px;
      height: 20px;
      background: url("../img/title-icons.png") no-repeat 0 0;
    }
    &::before{
      margin-left: -80px;
    }
    &::after{
      margin-left: 30px;
      background-position: -50px 0;
    }
  }
}
.s_black{
  color: @textWhite;
  background: @bgDark;
  .section__title{
    color: #c8c8c8;
  }
}
.s_white{
  .section__title{
    &::before,
    &::after{
      background-image: url("../img/title-icons-2.png");
    }
  } 
}