.inline-block(@valign: top) {
  display: inline-block;
  vertical-align: @valign;
}

.line-height(@px) {
  height: @px;
  line-height: @px;
}
/*fonts
===============================*/
.bebas{
	font-family: 'BebasRegular', sans-serif;
}
.bebas-bold{
	font-family: 'BebasNeueBold' sans-serif;
}
.bender{
	font-family: 'BenderRegular', sans-serif;
}
.roboto{
	font-family: 'RobotoRegular', sans-serif;
}
.robotocondensed{
	font-family: 'robotocondensedregular', sans-serif;
}