/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@01-menu-home-name: '01.menu-home';
@01-menu-home-x: 0px;
@01-menu-home-y: 40px;
@01-menu-home-offset-x: 0px;
@01-menu-home-offset-y: -40px;
@01-menu-home-width: 20px;
@01-menu-home-height: 20px;
@01-menu-home-total-width: 98px;
@01-menu-home-total-height: 98px;
@01-menu-home-image: '../img/sprite.png';
@01-menu-home: 0px 40px 0px -40px 20px 20px 98px 98px '../img/sprite.png' '01.menu-home';
@02-menu-about-name: '02.menu-about';
@02-menu-about-x: 42px;
@02-menu-about-y: 0px;
@02-menu-about-offset-x: -42px;
@02-menu-about-offset-y: 0px;
@02-menu-about-width: 21px;
@02-menu-about-height: 20px;
@02-menu-about-total-width: 98px;
@02-menu-about-total-height: 98px;
@02-menu-about-image: '../img/sprite.png';
@02-menu-about: 42px 0px -42px 0px 21px 20px 98px 98px '../img/sprite.png' '02.menu-about';
@03-menu-price-name: '03.menu-price';
@03-menu-price-x: 0px;
@03-menu-price-y: 80px;
@03-menu-price-offset-x: 0px;
@03-menu-price-offset-y: -80px;
@03-menu-price-width: 12px;
@03-menu-price-height: 18px;
@03-menu-price-total-width: 98px;
@03-menu-price-total-height: 98px;
@03-menu-price-image: '../img/sprite.png';
@03-menu-price: 0px 80px 0px -80px 12px 18px 98px 98px '../img/sprite.png' '03.menu-price';
@04-menu-work-name: '04.menu-work';
@04-menu-work-x: 0px;
@04-menu-work-y: 0px;
@04-menu-work-offset-x: 0px;
@04-menu-work-offset-y: 0px;
@04-menu-work-width: 22px;
@04-menu-work-height: 20px;
@04-menu-work-total-width: 98px;
@04-menu-work-total-height: 98px;
@04-menu-work-image: '../img/sprite.png';
@04-menu-work: 0px 0px 0px 0px 22px 20px 98px 98px '../img/sprite.png' '04.menu-work';
@05-menu-patrners-name: '05.menu-patrners';
@05-menu-patrners-x: 40px;
@05-menu-patrners-y: 40px;
@05-menu-patrners-offset-x: -40px;
@05-menu-patrners-offset-y: -40px;
@05-menu-patrners-width: 21px;
@05-menu-patrners-height: 17px;
@05-menu-patrners-total-width: 98px;
@05-menu-patrners-total-height: 98px;
@05-menu-patrners-image: '../img/sprite.png';
@05-menu-patrners: 40px 40px -40px -40px 21px 17px 98px 98px '../img/sprite.png' '05.menu-patrners';
@06-menu-contacts-name: '06.menu-contacts';
@06-menu-contacts-x: 83px;
@06-menu-contacts-y: 0px;
@06-menu-contacts-offset-x: -83px;
@06-menu-contacts-offset-y: 0px;
@06-menu-contacts-width: 15px;
@06-menu-contacts-height: 25px;
@06-menu-contacts-total-width: 98px;
@06-menu-contacts-total-height: 98px;
@06-menu-contacts-image: '../img/sprite.png';
@06-menu-contacts: 83px 0px -83px 0px 15px 25px 98px 98px '../img/sprite.png' '06.menu-contacts';
@07-arrow-down-white-name: '07.arrow-down-white';
@07-arrow-down-white-x: 83px;
@07-arrow-down-white-y: 45px;
@07-arrow-down-white-offset-x: -83px;
@07-arrow-down-white-offset-y: -45px;
@07-arrow-down-white-width: 13px;
@07-arrow-down-white-height: 9px;
@07-arrow-down-white-total-width: 98px;
@07-arrow-down-white-total-height: 98px;
@07-arrow-down-white-image: '../img/sprite.png';
@07-arrow-down-white: 83px 45px -83px -45px 13px 9px 98px 98px '../img/sprite.png' '07.arrow-down-white';
@08-arrow-down-red-name: '08.arrow-down-red';
@08-arrow-down-red-x: 32px;
@08-arrow-down-red-y: 80px;
@08-arrow-down-red-offset-x: -32px;
@08-arrow-down-red-offset-y: -80px;
@08-arrow-down-red-width: 13px;
@08-arrow-down-red-height: 9px;
@08-arrow-down-red-total-width: 98px;
@08-arrow-down-red-total-height: 98px;
@08-arrow-down-red-image: '../img/sprite.png';
@08-arrow-down-red: 32px 80px -32px -80px 13px 9px 98px 98px '../img/sprite.png' '08.arrow-down-red';
@spritesheet-width: 98px;
@spritesheet-height: 98px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @01-menu-home @02-menu-about @03-menu-price @04-menu-work @05-menu-patrners @06-menu-contacts @07-arrow-down-white @08-arrow-down-red;
@spritesheet: 98px 98px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
