@font-face {
    font-family: 'BenderBlack';
    src: url('fonts/BenderBlack.eot');
    src: url('fonts/BenderBlack.eot') format('embedded-opentype'),
         url('fonts/BenderBlack.woff2') format('woff2'),
         url('fonts/BenderBlack.woff') format('woff'),
         url('fonts/BenderBlack.ttf') format('truetype'),
         url('fonts/BenderBlack.svg#BenderBlack') format('svg');
}
