@font-face {
    font-family: 'BebasBold';
    src: url('fonts/BebasBold.eot');
    src: url('fonts/BebasBold.eot') format('embedded-opentype'),
         url('fonts/BebasBold.woff2') format('woff2'),
         url('fonts/BebasBold.woff') format('woff'),
         url('fonts/BebasBold.ttf') format('truetype'),
         url('fonts/BebasBold.svg#BebasBold') format('svg');
}
